:root.theme-light {
  --page-bg-image: url('../images/cover-image-light.png');
  --main-color: #FF8DCB;
  --bg-color: #FFB5C0;
  --title-color: #FFC2E6;
  --border-color: rgba(0, 0, 0, 0.4);
  --color: black;
  --description-color: black;
  --subtitle-color:#353430;
  --minsubtitle-color: #353430;
  --accent-color: #353430;
  --hero-color: #353430;
}

.theme-light .rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url('../images/cover-image-light.png');
    --main-color: #FF8DCB;
    --bg-color: #FFB5C0;
    --title-color: #FFC2E6;
    --border-color: rgba(0, 0, 0, 0.4);
    --color: black;
    --description-color: black;
    --subtitle-color: #353430;
    --minsubtitle-color: #353430;
    --accent-color: #353430;
    --hero-color: #353430;
  }

  .rec-label {
    display: none;
  }
}